# Application
NODE_ENV=development
PORT=3000
ENABLE_SWAGGER=true

# Database (Prisma / PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stellaraid?schema=public"
